body, html {
   width: 100%;
   height: 100%;
   font-family: 'Montserrat', sans-serif;
   /* background: rgba(0,0,0,.1) url(image-6.jpg) no-repeat center center fixed; */
   background: #262729;
   /* background: url(Baro_Logo-03.png); */
   background-size: cover;
   background-blend-mode: darken;
}

.textbuffer {
   height: 5rem;
}

h1 {
   text-transform: uppercase;
   font-weight: bold;
   color: #CCF381;
   font-size: 70pt;
   letter-spacing: 0.54rem;
}

.buffer {
   height: 0.5rem;
}

.btn {
   background-color: #CCF381;
   border-color: #CCF381;
   color: #262729;
   border-radius: 0px;
}

.btn:hover {
   background-color: #4831D4;
   border-color: #4831D4;
   color: #CCF381;
   border-radius: 0px;
}

.btn:hover {
   transition: scale 1s;
   scale: 1.5;
}

.imgbuffer {
   height: 20rem;
}

img {
   width: 32px;
   height: 47.2px;
}

.logo {
   width: 640px;
   height: 360px;
}
